.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: snow;
    font-size: 25px;
    background-color: #2f2f2f;
}
.Header a{
    margin: 0 25px 0 25px;
    text-decoration: none;
    font-size: 25px;
    color: snow;
}
.tools{
    display: flex;
    margin-right: 50px;
}
.h5{
    margin: 0 0 0 50px;
}
